.button {
	cursor: pointer;
	text-align: center;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 12px;
	flex: 1;
	user-select: none;
}

.green {
	background-color: #53b57a;
	color: #ffffff;
	transition: background-color 0.3s;
}

.green:hover {
	background-color: #36a562;
}