.container {
  display: flex;
  flex-direction: row;
	border-bottom: 1px dashed #d8d9d9;
	padding: 10px 0;
}

.avatar {
  width: 30px;
  height: 30px;
	border-radius: 50%;
	user-select: none; 
}

.message {
	padding-left: 10px;
	flex: 1;
}

.userName,
.body,
.date {
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 1.5;
}

.userName {
	color: #02b7e2;
}

.body {
	color: #404041;
}

.date {
	color: #8c8c8e;
}

.seenButton {
	cursor: pointer;
	color: #d89f65;
	border-left: 1px solid #8c8c8e;
	padding-left: 3px;
	user-select: none;
}

.seenButton:hover {
	text-decoration: underline;
}