.bellButton {
  width: 40px;
	height: 30px; 
	background-color: #ffffff;
	border: 1px solid #d8d9d9;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #404041;
	position: relative;
	box-sizing: border-box;
}

.bellButton:hover,
.blue {
	background-color: #02b7e2;
	border: none;
	color: #ffffff;
}

.unseenCount {
	position: absolute;
	top: 1px;
	right: 1px;
	font-size: 8px;
	background: #e53935;
	color: #ffffff;
	width: 11px;
	height: 11px;
	line-height: 11px;
	text-align: center;
	border-radius: 50%;
}