body {
	font-family: sans-serif;
}
		
.container {
	width: 400px;
	margin: 20px auto;
}

.header {
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 5px;
}

.content {
	display: flex;
	justify-content: flex-end;
}