.container {
	width: 280px;
	border: 1px solid #d8d9d9;
	border-radius: 3px;
	height: 290px;
	overflow: scroll;
	padding: 10px;
}

.aproveButton {
	cursor: pointer;
	text-align: center;
	background: #53b57a;
	color: #ffffff;
	padding: 10px;
	border-radius: 3px;
	display: block;
	margin: 10px;
}

.footer {
	padding-top: 15px;
	display: flex;
	align-items: stretch;
}